<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del producto</title>
</head>
<body>
    <h1>{{product.title}}</h1>
    <p><strong>Descripción</strong>{{product.description}}</p>
    <p><strong>Precio:</strong>${{product.price}}</p>
    <p><strong>Categoría:</strong>{{product.category}}</p>

    <button  onclick="addToCart('{{product._id}}')">Agregar al carrito</button>

    <a href="/products">Volver a la lista de productos</a>

    <script>
        async function addToCart(productId) {
    let cartId = 'YOUR_CART_ID'; // Inicialmente define un ID de carrito
    try {
        const cartResponse = await fetch(`/api/carts/${cartId}`);

        if (!cartResponse.ok) {
            const newCartResponse = await fetch(`/api/carts`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            });

            const newCart = await newCartResponse.json();
            cartId = newCart._id; // Almacena el nuevo ID de carrito
        }

        // Ahora agrega el producto al carrito
        const response = await fetch(`/api/carts/${cartId}/products/${productId}`, { 
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ productId })
        });

        if (response.ok) {
            alert('Producto agregado al carrito!');
        } else {
            alert('Error al agregar producto al carrito');
        }
    } catch (error) {
        console.error('Error al agregar al carrito', error);
        alert('Error al agregar el producto al carrito.');
    }
}
    </script>
</body>
</html>