<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos en tiempo real</title>
</head>
<body>
    <h1>Productos en tiempo real</h1>

    <form id="product-form">
        <input type="text" id="product-title" placeholder="Titulo" required>
        <input type="text" id="product-description" placeholder="Descripcion" required>
        <input type="text" id="product-code" placeholder="Código" required>
        <input type="number" id="product-price" placeholder="Precio" required>
        <input type="number" id="product-stock" placeholder="Stock" required>
        <input type="text" id="product-category" placeholder="Categoría" required>
        <button type="submit">Agregar producto</button>
    </form>

    <ul id="product-list">
        {{#each products}}
        <li id="product-{{id}}">
            <h2>{{title}}</h2>
            <p>Precio: ${{price}}</p>
            <p>{{description}}</p>
            <button onclick="deleteProduct('{{id}}')">Eliminar</button>
        </li>
        {{/each}}
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        socket.on('actualizarProductos', (products) => {
            const productList = document.getElementById('product-list');
            productList.innerHTML = '';
            products.forEach((product) => {
                const productItem = `
                <li id="product-${product.id}">
                    <h2>${product.title}</h2>
                    <p>Precio: $${product.price}</p>
                    <p>${product.description}</p>
                    <button onclick="deleteProduct('${product.id}')">Eliminar</button>
                </li>
                `;
                productList.innerHTML += productItem;
            });
        });

        function deleteProduct(productId) {
            socket.emit('deleteProduct', productId);
        }

        document.getElementById('product-form').addEventListener('submit', (e) => {
            e.preventDefault();

            const title = document.getElementById('product-title').value;
            const description = document.getElementById('product-description').value;
            const code = document.getElementById('product-code').value;
            const price = document.getElementById('product-price').value;
            const stock = document.getElementById('product-stock').value;
            const category = document.getElementById('product-category').value;

            socket.emit('addProduct', {
                title,
                description,
                code,
                price,
                stock,
                category,
                status: true
            });

            document.getElementById('product-form').reset();
        });
    </script>
</body>
</html>
